@import './vars';
@import './bulma.scss';

$sideMenuWidth: 18.4rem;

.aside-menu {
  text-align: left;
  position: fixed;
  width: $sideMenuWidth;
  background-color: hsl(0, 0%, 96%);
  z-index: 100;
  top: 0;
  padding-top: 3.6rem;
  border-right: 1px solid #eaecef;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  padding-left: 0.8rem;
  transform: translateX(-100%);
  transition: transform .2s ease;
}

.sidebar-mask {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.aside-menu-open {
  .aside-menu {
    transform: translateX(0);
  }
  .sidebar-mask{
    display: block;
  }
}

.navbar {
  background-color: transparent;
  z-index: 10;
}

.main-inner {
  margin: 0 auto;
  padding: 10px 25px;
}

@media(min-width: $tablet) {
  .hamburger-button {
    display: none;
  }

  .sidebar-mask {
    display: none;
  }

  .aside-menu {
    padding-top: 0.8rem;
    border-right: none;
    transform: translateX(0);
  }

  .navbar { 
    display: none;
  }

  main {
    padding-left: $sideMenuWidth;
  }

  .main-inner {
    padding: 10px;
  }  
}